h1 {
	text-align: center;
	color: #fffa31;;
	font-size: 85px;
	margin-left:15;
	clear: both;
}

.lead {
	text-align: center;
	color: #fffa31;
	font-size: 20px;
}

.overme {
    width: 450px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

/*.colour {
color: #fcd04b;
}
.red {color: #d3313a;}
.blue {color: #00acc8;}
.green {color: #61a844;}
.yellow {color: #fcb325;}
.orange {color: #e75424;}
.black {color: #FFFFFF;}
*/

body {
  background-color: #333;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-image: url("/img/background_grey.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  height: 100%;
}

input[type="url"] {
  display: block;
  margin: 3;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  font-size: 33px;
  text-align: left;
}

.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #	;
}
.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
  border: solid 5px #969696;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*.btn {
	color: #333;
  text-shadow: none;  Prevent inheritance from `body` 
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;*/

	/*border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: #fcd04b;
	box-shadow: 0 6px #DEAF00;
	cursor: pointer;
	padding: 18px 50px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;*/
}

/*.btn:hover {
background: #fcd357;
  box-shadow: 0 4px #DEAF00;
}*/

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: #333;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: #333;
}

table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 95%; 
float:none;
display: inline;
border-collapse: 
collapse; border-spacing: 0; 
opacity: 0.85;
background: transparent;
}

td, th { 
border: 1px solid transparent; 
height: 30px;
margin: 8px;
font-size: 16px; 
}

.th2 {
background: #000000;
opacity:0.7;
color: white;
 /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}
::-webkit-validation-bubble-message {
    padding: 1em;
}
input:required:invalid, input:focus:valid {
  /*-moz-box-shadow: all;*/
  /*background: #fff url(/img/warning.png) no-repeat 98% center;*/
box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

input:required:valid {
  /* insert your own styles for valid form input */
  background: #fff url(https://cdn0.iconfinder.com/data/icons/fatcow/32x32/tick.png) no-repeat 98% center;
box-shadow: 0 0 5px #2eb82e;
    border-color: #29a329
}